<div class="ContainerPanel">
    <div class="RaidPanel">
        <div class="RaidData">
            <div class="RaidViewHeader">
                <span h1>Optimized Raid</span>
            </div>
            <div class="GeneratedRaid" fxLayoutGap="3px grid">
                <div *ngFor="let char of optimizedRaid; let i = index" class="characterDiv" >
                    <mat-card class="charInRaid">
                        <div fxFlex fxLayout="column">
                            <mat-card-header
                                [style.background-color]="geBackgrounColorforClass(char.primarySpec.spec_name)">
                                <div mat-card-avatar class="classIconHeaderImage"
                                    [style.background-image]="getSpecImage(char.primarySpec.spec_name)"></div>
                                <div class="mat-header-div">
                                    <mat-card-title h1>{{char.char_name}}</mat-card-title>
                                    <fa-icon class="headerIconCheck" [icon]="facheck" *ngIf="showCheck(char)"></fa-icon>
                                </div>

                            </mat-card-header>
                        </div>
                    </mat-card>
                </div>

            </div>
        </div>
    </div>

    <div class="BuffPanel">
        <div class="BuffData">
            <div class="BuffViewHeader">
                <span h1>Raid Buffs/Debuffs</span>
            </div>
            <div class="GeneratedBuffs">
                <div *ngFor="let buff of buffCollection;let i=index" class="BuffButtons" id="buff-buttons-{{buff.buff_code}}" [ngClass]="{active:(i==selectedIndex)}" >
                    <div>
                        <button class="button" (click)="buffButtonClick(buff, i )"></button>
                        <span>{{buff.buff_name}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="BuffDescription">
            <div class="BuffViewHeader">
                <span h1>Description</span>
            </div>
            <div class="DescriptionBox">
                <textarea readonly="true" rows="30" cols="120" [(ngModel)]='buffDesc'></textarea>
            </div>
        </div>
    </div>
</div>