.discord-button{
    background-color: #7289da ;
    color: white;
}

.logoff-container{
    display:flex;
    align-items: center;
}

.username-container{
    padding-right: 10px;
    font-size: 17px;
}
.userIcon{
    font-size: 40px;
    cursor:pointer;
}